body{

margin:0;

background:#f5f7ff;

}

.container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login{

background:white;

padding:40px;

border-radius:20px;

width:320px;

box-shadow:0 0 20px rgba(0,0,0,0.1);

}

h1{

text-align:center;

color:#4f46e5;

}

input{

width:100%;

padding:12px;

margin-top:15px;

border-radius:10px;

border:1px solid #d1d5db;

background:white;

color:black;

outline:none;

box-sizing:border-box;

}

button{

width:100%;

padding:12px;

margin-top:20px;

border:none;

border-radius:10px;

background:#4f46e5;

color:white;

cursor:pointer;

}
button:hover{

opacity:0.9;

}
.login div{

margin-top:20px;

padding:10px;

border-radius:10px;

background:#f3f4f6;

}